## Limpeza e Tratamento de Dados ##
### Atividade com intuito de realizar a prÃ¡tica de conceitos bÃ¡sicos de limpeza e tratamento de dados ###

**CondiÃ§Ãµes que precisam ser atendidas:**
    
* AparÃªncia: sol, chuva, nublado
* Temperatura: -130 ~ 130Â°F
* Umidade: 0 ~ 100
* Jogar: sim/nÃ£o
* Tratar valores NAs

### ðŸ“šImportando Bibliotecas

In [1]:
import pandas as pd
import statistics as sts
import seaborn as sns
import matplotlib.pyplot as plt

### ðŸ’¾Carregando o conjunto de dados

In [2]:
df = pd.read_csv('../data/tempo.csv', sep = ';')

### ðŸ“ŠExplorando conjuto de dados

In [3]:
# Visualizando primeiros registros do dataframe
df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Aparencia    14 non-null     object
 1   Temperatura  14 non-null     int64
 2   Umidade      13 non-null     float64
 3   Vento        13 non-null     object
 4   Jogar        14 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 692.0+ bytes

In [5]:
# Somando e visualizando o total de dados Nulos por coluna
df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [6]:
# NumÃ©rica (int64 ou float64) colunas
col_numericas = df.select_dtypes(include=['int64','float64'])

# CategÃ³rico (categorical ou object) colunas
col_categorica = df.select_dtypes(include=['object'])

print("Colunas numÃ©ricas:\n", col_numericas.columns.tolist())
print("Colunas categÃ³ricas:\n", col_numericas.columns.tolist())

Colunas numÃ©ricas:
 ['Temperatura', 'Umidade']
Colunas categÃ³ricas:
 ['Temperatura', 'Umidade']

### ðŸ”Ž AnÃ¡lise ExploratÃ³ria de Dados